@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Exo+2:ital,wght@0,100..900;1,100..900&family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* -------------------------------unviversal selector---------------------------------------- */
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none !important;
    list-style: none !important;
}





/* ---------------------------------------------root------------------------------------------- */
:root {
    --ff-exo: "Exo 2",
        sans-serif;
    --ff-fira: "Fira Sans",
        sans-serif;
    --ff-dalta: "Dela Gothic One",
        sans-serif;
    --ff-roboto: "Roboto",
        sans-serif;

    --fw-4: 400;
    --fw-5: 500;
    --fw-6: 600;
    --fw-7: 700;
    --fw-8: 800;
    --fw-3: 300;

    --primary-color: #3B945E;
    --black-color: #000000;
    --white-color: #ffff;
    --btn-color: #FFC20A;
    --body-color: #030D01;
    --light-yellow: #EAA763;
    --dark-yellow: #F7D567;
    --red-color: #B73537;


    --fs-10: 10px;
    --fs-14: 14px;
    --fs-15: 15px;
    --fs-16: 16px;
    --fs-18: 18px;
    --fs-20: 20px;
    --fs-21: 21px;
    --fs-24: 24px;
    --fs-25: 25px;
    --fs-28: 28px;
    --fs-30: 30px;
    --fs-32: 32px;
    --fs-36: 36px;
    --fs-40: 40px;
    --fs-44: 44px;
    --fs-48: 48px;
    --fs-50: 50px;
    --fs-52: 52px;
    --fs-55: 55px;
    --fs-60: 60px;
    --fs-61: 61px;
    --fs-64: 64px;
    --fs-70: 70px;
    --fs-72: 72px;
    --fs-80: 80px;
    --fs-157: 157px;


    --lh-16: 16px;
    --lh-19: 19px;
    --lh-21: 21px;
    --lh-20: 20px;
    --lh-23: 23px;
    --lh-24: 24px;
    --lh-26: 26px;
    --lh-27: 27px;
    --lh-28: 28px;
    --lh-29: 29px;
    --lh-30: 30px;
    --lh-32: 32px;
    --lh-35: 35px;
    --lh-37: 37px;
    --lh-39: 39px;
    --lh-40: 40px;
    --lh-41: 41px;
    --lh-42: 42px;
    --lh-45: 45px;
    --lh-49: 49px;
    --lh-54: 54px;
    --lh-56: 56px;
    --lh-61: 61px;
    --lh-64: 64px;
    --lh-68: 68px;
    --lh-72: 72px;
    --lh-75: 75px;
    --lh-83: 83px;
    --lh-86: 86px;
    --lh-90: 90px;
    --lh-100: 100px;
    --lh-188: 188px;

}

/* ---------------------root specified ------------------------------*/

.ff-dalta {
    font-family: var(--ff-dalta);
}

.ff-exo {
    font-family: var(--ff-exo);
}

.ff-fira {
    font-family: var(--ff-fira);
}

.ff-roboto {
    font-family: var(--ff-roboto);
}

.black {
    color: var(--black-color);
}

.body-color {
    background-color: var(--body-color);
}

.sec_color {
    color: var(--secondary-color);
}

.ff-hl {
    font-family: var(--ff-hl);
}

.curser {
    cursor: pointer;
}


.lh-26 {
    line-height: var(--lh-26);
}

.lh-23 {
    line-height: var(--lh-23);
}

.lh-45 {
    line-height: var(--lh-45);
}

.lh-42 {
    line-height: var(--lh-42);
}

.lh-30 {
    line-height: var(--lh-30);
}

.lh-35 {
    line-height: var(--lh-35)
}

.lh-16 {
    line-height: var(--lh-16);
}

.lh-61 {
    line-height: var(--lh-61);
}

.lh-40 {
    line-height: var(--lh-40);

}

.lh-68 {
    line-height: var(--lh-68);
}

.lh-37 {
    line-height: var(--lh-37);
}

.lh-41 {
    line-height: var(--lh-41);
}

.lh-19 {
    line-height: var(--lh-19);
}

.lh-24 {
    line-height: var(--lh-24);
}

.lh-29 {
    line-height: var(--lh-29);
}

.lh-20 {
    line-height: var(--lh-20);
}

.lh-21 {
    line-height: var(--lh-21);
}

.lh-83 {
    line-height: var(--lh-83);
}

.lh-54 {
    line-height: var(--lh-54);
}

.lh-56 {
    line-height: var(--lh-56);
}


.lh-32 {
    line-height: var(--lh-32);
}

.lh-86 {
    line-height: var(--lh-86);
}

.lh-72 {
    line-height: var(--lh-72);
}

.lh-75 {
    line-height: var(--lh-75);
}

.lh-39 {
    line-height: var(--lh-39);
}

.lh-27 {
    line-height: var(--lh-27);
}

.lh-28 {
    line-height: var(--lh-28);
}

.lh-49 {
    line-height: var(--lh-49);
}

.lh-188 {
    line-height: var(--lh-188);
}

.lh-100 {
    line-height: var(--lh-100);
}

.lh-90 {
    line-height: var(--lh-90);
}

.fw-4 {
    font-weight: var(--fw-4);
}

.fw-5 {
    font-weight: var(--fw-5);
}

.fw-8 {
    font-weight: var(--fw-8);
}

.fw-6 {
    font-weight: var(--fw-6);
}

.fw-7 {
    font-weight: var(--fw-7);
}

.fw-3 {
    font-weight: var(--fw-3);
}

.fs-14 {
    font-size: var(--fs-14);
}

.fs-15 {
    font-size: var(--fs-15);
}

.fs-48 {
    font-size: var(--fs-48);
}

.fs-32 {
    font-size: var(--fs-32);
}

.fs-25 {
    font-size: var(--fs-25);
}

.fs-28 {
    font-size: var(--fs-28);
}

.fs-50 {
    font-size: var(--fs-50);
}

.fs-44 {
    font-size: var(--fs-44);
}

.fs-64 {
    font-size: var(--fs-64);
}

.fs-16 {
    font-size: var(--fs-16);
}

.fs-61 {
    font-size: var(--fs-61);
}

.fs-18 {
    font-size: var(--fs-18);
}

.fs-24 {
    font-size: var(--fs-24);
}

.fs-10 {
    font-size: var(--fs-10);
}

.fs-52 {
    font-size: var(--fs-52);
}

.fs-40 {
    font-size: var(--fs-40);
}

.fs-36 {
    font-size: var(--fs-36);
}

.fs-72 {
    font-size: var(--fs-72);
}

.fs-157 {
    font-size: var(--fs-157);
}

.fs-20 {
    font-size: var(--fs-20);
}

.fs-30 {
    font-size: var(--fs-30);
}

.fs-80 {
    font-size: var(--fs-80);
}

.fs-21 {
    font-size: var(--fs-21);
}

.fs-70 {
    font-size: var(--fs-70);
}

.white {
    color: var(--white-color);
}

.green {
    color: var(--primary-color);
}

.light_yellow {
    color: var(--light-yellow);
}

.dark_yellow {
    color: var(--dark-yellow);
}

.red {
    color: var(--red-color);
}


/* =================================main-sec======================================== */
.main-sec-bg-img {
    background-image: url("../img/png/main_sec_bg_img.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}


.nav_links:hover {
    opacity: 1 !important;
}

.media_app {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 1px solid var(--white-color);
    transition: all 200ms linear;
}



.gap_32 {
    gap: 32px;
}

.gap_60 {
    gap: 60px;
}

.pt_10 {
    padding-top: 10px;
}


.pt_14 {
    padding-top: 14px;
}


.pb_40 {
    padding-bottom: 40px;
}

.pt_30 {
    padding-top: 30px;
}

.pb_73 {
    padding-bottom: 73px;
}






.company-border {
    max-width: 100%;
    min-height: 80px;
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 0.06);
    border: 1px solid rgba(255, 255, 255, 0.24);
}

.supply_border {
    border-radius: 6px;
    background-color: rgba(255, 255, 255, 0.06);
    border: 1px solid rgba(255, 255, 255, 0.24);
    padding: 34px 90px 34px 72px;
    max-width: 558px;
}

.team_sec_img {
    min-height: 333px;
    max-width: 100%;
}

.tokenomics_img {
    min-height: 333px;
    max-width: 100%;
}

.pt_40 {
    padding-top: 40px;
}

.backdrop_blur {
    backdrop-filter: blur(3px);
}

.py_20 {
    padding-top: 20px;
    padding-bottom: 20px;

}

.px_8 {
    padding-left: 8px;
    padding-right: 8px;
}

.team_border {
    border: 1px solid rgba(255, 255, 255, 0.24);
    border-radius: 16px;
    backdrop-filter: blur(20px);
}

.team_bg-img {
    background-image: url("../img/png/team_bg-img.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero_container {
    max-width: 1176px;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: auto;
    margin-right: auto;
}

.team_container {
    max-width: 675px;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: auto;
    margin-right: auto;
}

.main_container {
    max-width: 1140px;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: auto;
    margin-right: auto;
}

.partner_container {
    max-width: 1001px;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: auto;
    margin-right: auto;
}

.opacity-90 {
    opacity: 90%;
}

.gap_40 {
    gap: 40px;
}

.pt_50 {
    padding-top: 50px;
}

.mt_30 {
    margin-top: 30px;
}

.pl_32 {
    padding-left: 32px;
}

.pr_32 {
    padding-right: 32px;
}

.faq_container {
    max-width: 800px;
    padding-left: 12px;
    padding-right: 12px;
    margin-left: auto;
    margin-right: auto;
}

.img_border {
    width: 107px;
    height: 107px;
    border: 1px solid rgba(68, 197, 50, 0.32);
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.08);
}

.inside_border-content {
    position: absolute;
    bottom: 9px;
    left: 13px;
}

.accordian_text {
    display: none;
}

.accord_itm {
    background: #FFFFFF0F;
    border: 1px solid #FFFFFFB8;
    border-radius: 30px;
}

.accord_itm:hover {
    border-color: #00A600;
}

.max-w-598 {
    max-width: 598px;
}

.accord_itm:hover .accordian-head .accordian_heading {
    color: #00A600 !important;
}

.accord_itm:hover div .plus svg path {
    fill: #00A600 !important;
}

.accord_itm:hover .accordian_text {
    color: #00A600 !important;
}

.pt_56 {
    padding-top: 56px;
}

.footer-bg-img {
    background-image: url("../img/png/footer-bg-img.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

.footer-bg-img::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--black-color);
    opacity: 30%;
    z-index: 2;
    top: 0;
    right: 0;
}



.underline {
    width: 100%;
    background: #FF9F00;
    height: 1px;
    margin-top: 44px;
    opacity: 40%;
}

.px_20 {
    padding-top: 20px;
    padding-bottom: 20px;
}

.scroll_to_top {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: fixed;
    bottom: 2%;
    right: 2%;
    cursor: pointer;
    z-index: 30;
    animation: toTop 1s infinite;
    transition: all 300ms linear;
    animation: top 2s infinite;
}

.scroll_to_top:hover {
    animation: top 1s infinite;
}

@keyframes top {
    25% {
        transform: translateY(10px);
    }

    50% {
        transform: scale(1.1);
    }

    75% {
        transform: scale(1);
    }

    100% {
        transform: translateY(0p);
    }

}

.button-2 {
    color: var(--white-color);
    border: 3px solid var(--btn-color);
    background-image: -webkit-linear-gradient(30deg, #F7D567 50%, transparent 50%);
    background-image: linear-gradient(30deg, #EAA763 50%, transparent 50%);
    background-size: 500px;
    background-repeat: no-repeat;
    background-position: 0%;
    -webkit-transition: background 300ms ease-in-out;
    transition: background 300ms ease-in-out;
    padding: 14px 32px 14px 32px;
    border-radius: 36px;
}

.buy_btn {
    padding: 14px 32px 14px 32px;
    border-radius: 36px;
    background: var(--btn-color);
    border: none;
}

.button-2:hover {
    background-position: 100%;
    color: var(--btn-color);
}

.media_app:hover {
    background-color: var(--btn-color);
    transform: scale(1.1);
}




/*========================== media-screen =========================*/
@media (max-width:992px) {
    .menuBar {
        justify-content: center;
        flex-direction: column;
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: -100%;
        background: var(--primary-color);
        z-index: 30;
        transition: all 300ms linear;
    }

    .nav_links {
        flex-direction: column;
        justify-content: center;
    }

    .menuIcon {
        width: 42px;
        height: 28px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        z-index: 31;
        align-items: end;
    }

    .menuIcon span {
        width: 100%;
        height: 5px;
        background-color: var(--white-color);
        z-index: 4;
    }

    .show {
        left: 0;
    }

    .menuBarView {
        flex-direction: column;
    }

    .menuView {
        flex-direction: column;
    }

}

@media (max-width:1200px) {
    .max-xl-container {
        max-width: 1140px;
        padding-left: 12px;
        padding-right: 12px;
        margin-left: auto;
        margin-right: auto;
    }

    .bander_img {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .pt_xl_36 {
        padding-top: 36px;
    }

    .position-min-xl-relative {
        position: relative;
    }

    .bander_circle_img_1::before,
    .bander_circle_img_2::before,
    .bander_circle_img_3::before,
    .bander_circle_img_4::before {
        position: absolute;
        content: "";
        background-image: url("../img/png/bander_half_circle.png");
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        width: 60px;
        height: 151px;
        right: 0;
        top: 0;
        transform: translate(15px, -10px);
    }
}



@media (min-width:576px) {
    .fs-sm-50 {
        font-size: var(--fs-50);
    }

    .mt_sm_80 {
        margin-top: 80px;
    }

    .lh-sm-64 {
        line-height: var(--lh-64);
    }

    .mt_sm_25 {
        margin-top: 25px;
    }

    .pt_sm_60 {
        padding-top: 60px;
    }

    .fs-sm-30 {
        font-size: var(--fs-30);
    }

    .lh-sm-40 {
        line-height: var(--lh-40);
    }

    .gap_sm_40 {
        gap: 40px !important;
    }

    .pt_sm_80 {
        padding-top: 80px;
    }

    .pb_sm_60 {
        padding-bottom: 60px;
    }
}

@media (min-width:992px) {
    .fs-lg-64 {
        font-size: var(--fs-64);
    }

    .pt_lg_270px {
        padding-top: 270px;
    }

    .pt_lg1_76 {
        padding-top: 176px;
    }

    .lh-lg-75 {
        line-height: var(--lh-75);
    }

    .fs-lg-48 {
        font-size: var(--fs-48);
    }

    .pt_lg_80 {
        padding-top: 80px;
    }

    .pt_lg_100 {
        padding-top: 100px;
    }

    .lh-lg-68 {
        line-height: var(--lh-68);
    }

    .fs-lg-20 {
        font-size: var(--fs-20);
    }

    .lh-lg-37 {
        line-height: var(--lh-37);
    }

    .pt_lg_180 {
        padding-top: 180px;
    }

    .pb_lg_108 {
        padding-bottom: 108px;
    }

    .mt_lg_40 {
        margin-top: 40px;
    }

    .pt_lg_150 {
        padding-top: 150px;
    }

    .pb_lg_73 {
        padding-bottom: 73px;
    }

    .mt_lg_150 {
        margin-top: 150px;
    }

    .pt_lg_176 {
        padding-top: 176px;
    }
}

@media (min-width:1200px) {
    .position-xl-relative {
        position: relative;
    }

    .mb_63 {
        margin-bottom: 63px;
    }

    .hero_xl_container {
        max-width: 1140px;
        padding-left: 12px;
        padding-right: 12px;
        margin-left: auto;
        margin-right: auto;
    }

    .position-xl-absolute {
        position: absolute;
    }

    .four_bander_img::after {
        position: absolute;
        content: "";
        background-image: url("../img/png/bandar_image_after_4.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 350px;
        height: 130px;
        transform: translate(-220px, 10px);
    }

    .three_bander_img::after {
        position: absolute;
        content: "";
        background-image: url("../img/png/bandar_image_after_3.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 205px;
        height: 132px;
        transform: translate(565px, -220px);
    }

    .sec_bander_img::after {
        position: absolute;
        content: "";
        background-image: url("../img/png/bandar_image_after_2.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 205px;
        height: 132px;
        transform: translate(-280px, -20px);
    }

    .first_bander_img::after {
        position: absolute;
        content: "";
        background-image: url("../img/png/bandar_image_after_1.png");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 350px;
        height: 130px;
        transform: translate(-70px, 200px);
    }

    .container_879px {
        max-width: 879px;
        padding-left: 12px;
        padding-right: 12px;
        margin-left: auto;
        margin-right: auto;
    }

    .max-w-281 {
        max-width: 281px;
    }

    .max-w-356 {
        max-width: 356px;
    }

    .bander_circle_img_1 {
        bottom: 0;
        right: 0;
        transform: translate(150px, 150px);
    }


    .bander_circle_img_2 {
        bottom: 0;
        right: 0;
        transform: translate(130px, 200px);
    }




    .bander_circle_img_3 {
        bottom: 0;
        right: 0;
        transform: translate(-250px, 200px);
    }



    .bander_circle_img_4 {
        bottom: 0;
        right: 0;
        transform: translate(-320px, 150px);
    }

    .bander_img {
        transform: translate(0px, 170px);
        right: 45%;
    }
}

@media (max-width:576px) {
    .max-sm-max-w-310 {
        max-width: 310px;
    }

    .max-sm-min-h-95 {
        min-height: 95px;
    }

    .img_border {
        width: 85px;
        height: 85px;
    }

    .md-w-100 {
        width: 100%;
    }

    .supply_border {
        padding: 24px 40px 24px 42px;
    }

    .mt_40 {
        margin-top: 40px;
    }

}